name: code-quality

on:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: use node@18
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - name: 'install dependencies'
        run: npm ci
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
      - run: npm run lint
